.inbox {
  display: flex;
  background-color: transparent;

}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.text-email {
  font-size: 15px;
  font-weight: 500;
}
.mess,
.email {
  margin-bottom: 10px;
  border-radius: 3px;
  
}
.email {
  height: 35px;
  width: 300px;
}
.mess {
  height: 100px;
}
.btn-submit {
  border: none;
  background-color: #f98532;
  color: #fff;
  height: 35px;
  border-radius: 5px;
  font-weight: 700;
}
