.home{
    margin-top: 80px;
}
.banner{
    margin-top: 2px;
    border-radius: 3px;
}
.new-arrivals{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.new-title{
    color: #383838;
}